{% extends "base.jinja" %}

{% block content %}

<style>
    .tableFixHead{
        overflow-y: auto;
        overflow-x: auto;
        height: 680px;
        width: 95%;
    }

    .tableFixHead thead th {
        position: sticky;
        top: 0;
        z-index: 3;
    }

    table {
        border-collapse: collapse;
        width: 100%;
        transition: 3s;
    }
    
    th, td {
        overflow: hidden;
        text-overflow:ellipsis;
        white-space: nowrap;
        max-width: 300px;
        line-height: 1;
        transition: 3s;
        /* transition-delay: 3s !important; */
    }

    .wrapped_text {
      white-space: pre-line;
      overflow-x: auto;
    }

    .title_column {
      white-space: pre-line;
      overflow-x: auto;
      text-overflow: inherit;
      max-width: 300px;
      min-width: 300px;
      z-index: 2;
    }

    .td_hidden:hover {
      /* max-width: 700px; */
      white-space: pre-line;
      overflow-x: auto;
      overflow-y: auto;
      text-overflow:inherit;
      /* transition: 3s; */
      /* transition-delay: 3s; */
    }

    th:nth-child(3), td:nth-child(3) {
      position: sticky;
      overflow: hidden;
      left: 0px;
      z-index: 1;
    }

    .title_header {
      position: sticky;
      /* overflow: hidden; */
      left: 0px;
      z-index: 4000 !important;
    }

    .bg-two {
      background-color: #3F444A !important;
      /* opacity: 1 !important; */
      /* z-index: 5000 !important; */
    }


</style>

<div class="container-fluid">
    
    <div class="row justify-content-center">
        <div class="col-auto text-center">
            <h1 class="text-center mx-auto mt-3 mb-3 display-4">Query Results for '{{ search }}'</h1>
        </div>
    </div>
    
    <div class="row">
      <div class="col-md px-5 mx-5">
          <p>Type something in the input field to search Clinical Trials:</p>  
          <input class="form-control" id="myInput" onkeyup="myFunction()" type="text" placeholder="Search...">
          <br>
      </div>
  </div>

    <div class="row justify-content-center">
        <div class="col-auto tableFixHead table-responsive">
            <table id="bigTable" data-toggle="table" class="table table-dark table-striped table-hover mx-0">
                <thead class="thead-dark">
                  <tr>
                    <th class="text-center">Rank</th>
                    <th class="text-center">NCTId</th>
                    <th class="text-center title_header">Brief Title</th>
                    <th class="text-center">Condition</th>
                    <th class="text-center">Phase</th>
                    <th class="text-center">Study Type</th>
                    <th class="text-center">Enrollment Count</th>
                    <th class="text-center">Start Date</th>
                    <th class="text-center">Primary Completion Date</th>
                    <th class="text-center">Eligibility Criteria</th>
                    <th class="text-center">Intervention Name</th>
                    <th class="text-center">Arm Group Intervention Name</th>
                    <th class="text-center">Arm Group Description</th>
                    <th class="text-center">Intervention Arm Group Label</th>
                    <th class="text-center">Outcome Measure Toggle</th>
                    <th class="text-center">Outcome Measure Type</th>
                    <th class="text-center">Outcome Measure Title</th>
                    <th class="text-center">Outcome Measure Description</th>
                    <th class="text-center">Outcome Measure Time Frame</th>
                    <th class="text-center">Outcome Measure Value</th>
                    <th class="text-center">Outcome Measure Unit of Measure</th>
                  </tr>
                </thead>
                
                <tbody id="myTable">
                {% if d %}  
                {% for row in d %}
                {% set outer_loop = loop %}
                  <tr>
                    <td>{{row.Rank}}</td>
                    <td>{{row.NCTId}}</td>
                    <td class="td_hidden title_column {{loop.cycle('bg-two', 'bg-dark')}}"><span>{{row.BriefTitle}}</span></td>
                    <td class="td_hidden">{{row.Condition}}</td>
                    <td>{{row.Phase}}</td>
                    <td>{{row.StudyType}}</td>
                    <td>{{row.EnrollmentCount}}</td>
                    <td>{{row.StartDate}}</td>
                    <td>{{row.PrimaryCompletionDate}}</td>
                    <td class="td_hidden"><span>{{row.EligibilityCriteria}}</span></td>
                    <td class="td_hidden">{{row.InterventionName}}</td>
                    <td class="td_hidden">{{row.ArmGroupInterventionName}}</td>
                    <td class="td_hidden"><span>{{row.ArmGroupDescription}}</span></td>
                    <td class="td_hidden">{{row.InterventionArmGroupLabel}}</td>
                    <td class="td_hidden"><button class="btn btn-primary" data-toggle="collapse" data-target="#collapse{{loop.index0}}">Toggle Outcomes</button></td>
                    <td><span>{{row.OutcomeMeasureType}}</span></td>
                    <td><span>{{row.OutcomeMeasureTitle}}</span></td>
                    <td><span>{{row.OutcomeMeasureDescription}}</span></td>
                    <td><span>{{row.OutcomeMeasureTimeFrame}}</span></td>
                    <td><span>{{row.OutcomeMeasurementValue}}</span></td>
                    <td><span>{{row.OutcomeMeasureUnitOfMeasure}}</span></td>
                  </tr>
                
                
                  {% if row.OutcomeMeasureType %}
                    {% for item in row.OutcomeMeasureTitle %}
                      <tr class="collapse" id="collapse{{outer_loop.index0}}">
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td class="td_hidden">{{ row.OutcomeMeasureType[loop.index0] }}</td>
                        <td class="td_hidden wrapped_text">{{row.OutcomeMeasureTitle[loop.index0]}}</td>
                        <td class="td_hidden">{{row.OutcomeMeasureDescription[loop.index0]}}</td>
                        <td class="td_hidden">{{row.OutcomeMeasureTimeFrame[loop.index0]}}</td>
                        <td class="td_hidden">{{row.OutcomeMeasurementValue[loop.index0]}}</td>
                        <td class="td_hidden">{{row.OutcomeMeasureUnitOfMeasure[loop.index0]}}</td>
                      </tr>
                    {% endfor %}
                  {% endif %} 
                  

                {% endfor %}
                {% endif %}
              </tbody>
            </table>
        </div>
    </div>

    
  </div>

<script>
function myFunction() {
  // Declare variables
  var input, filter, table, tr, td, i, txtValue;
  input = document.getElementById("myInput");
  filter = input.value.toUpperCase();
  table = document.getElementById("myTable");
  tr = table.getElementsByTagName("tr");

  // Loop through all table rows, and hide those who don't match the search query

  for (i = 0; i < tr.length; i++) {
    td = tr[i].getElementsByTagName("td")[2];   /* THE INDEX IN THIS LINE DICTATES WHICH COLUMN WILL BE FILTERED */
    if (td) {
      txtValue = td.textContent || td.innerText;
      if (txtValue.toUpperCase().indexOf(filter) > -1) {
        tr[i].style.display = "";
      } else {
        tr[i].style.display = "none";
      }
    }
  }
}


// // NEW CODE BELOW

// highlight_row();
// function highlight_row() {
//     var table = document.getElementById('bigTable');
//     var cells = table.getElementsByTagName('td');

//     for (var i = 0; i < cells.length; i++) {
//         // Take each cell
//         var cell = cells[i];
//         // do something on onclick event for cell
//         cell.onclick = function () {
//             // Get the row id where the cell exists
//             var rowId = this.parentNode.rowIndex;

//             var rowsNotSelected = table.getElementsByTagName('tr');
//             for (var row = 0; row < rowsNotSelected.length; row++) {
//                 rowsNotSelected[row].style.backgroundColor = "";
//                 rowsNotSelected[row].classList.remove('selected');
//             }

//             var rowSelected = table.getElementsByTagName('tr')[rowId];
            
//             // rowSelected.style.backgroundColor = "yellow"
            
            

//             // msg = 'The ID of the company is: ' + rowSelected.cells[0].innerHTML;
//             // msg += '\nThe cell value is: ' + this.innerHTML;
//             // alert(msg);
//         }
//     }

// }

</script>

{% endblock %}